@model DocumentProject.Views.ViewModels.CategoryCreate

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Form create Category</h2>
<form asp-action="Create" method="post">
    <label asp-for="CategoryName">Name</label>
    <input type="text" asp-for="CategoryName">
    <button type="submit">Save</button>
</form>
